@using Sitecore.Analytics
@model ParTech.Sugcon.Models.ContactViewModel

<div>
    <label>Tracker active:</label>
    <span>@Tracker.IsActive</span>
</div>

<form method="post">
    <div>
        <label>Contact ID:</label>
        <input type="text" name="Guid" value="@Model.ContactId" readonly />
    </div>
    <div>
        <label>Identifier:</label>
        <input type="text" name="Identifier" value="@Model.Identifier" />
    </div>
    <div>
        <label>First name:</label>
        <input type="text" name="FirstName" value="@Model.FirstName" />
    </div>
    <div>
        <label>Last name:</label>
        <input type="text" name="LastName" value="@Model.LastName" />
    </div>
    <div>
        <label>City:</label>
        <input type="text" name="City" value="@Model.City" />
    </div>
    <div>
        <label>Email:</label>
        <input type="text" name="Email" value="@Model.Email" />
    </div>
    <div>
        <input type="submit" />
    </div>
</form>